- name: Install and Configure MyDNS Server
  hosts: mydns_servers
  become: true
  vars:
    mydns_source_dir: /scripts/mydns-ng-master
    mydns_user: mydns
    mydns_group: mydns
    mydns_port: 53
    geoip_enabled: true
    doh_enabled: true
    doh_port: 8443
    dns_cache_enabled: true
  tasks:
  - name: Update apt cache
    apt:
      update_cache: true
      cache_valid_time: 3600
    tags:
    - dependencies
    - always
  - name: Install build dependencies
    apt:
      name:
      - build-essential
      - gcc
      - make
      - autoconf
      - automake
      - libtool
      - libmysqlclient-dev
      - libssl-dev
      - zlib1g-dev
      - pkg-config
      - git
      - mysql-client
      - libgeoip-dev
      - libgeoip1
      - geoip-database
      - python3
      - python3-pip
      - python3-pymysql
      - python3-requests
      state: present
    tags:
    - dependencies
  - name: Create library symlinks
    file:
      src: /usr/lib/x86_64-linux-gnu/{{ item }}
      dest: /usr/lib/{{ item }}
      state: link
      force: true
    loop:
    - libmysqlclient.so
    - libssl.so
    - libcrypto.so
    - libz.so
    tags:
    - dependencies
  - name: Clone MyDNS source
    git:
      repo: https://github.com/yourusername/mydns-ng.git
      dest: '{{ mydns_source_dir }}'
      version: main
    tags:
    - build
  - name: Configure MyDNS
    command: ./configure
    args:
      chdir: '{{ mydns_source_dir }}'
      creates: '{{ mydns_source_dir }}/config.status'
    tags:
    - build
  - name: Build MyDNS
    make:
      chdir: '{{ mydns_source_dir }}'
    tags:
    - build
  - name: Install MyDNS
    make:
      chdir: '{{ mydns_source_dir }}'
      target: install
    tags:
    - build
  - name: Create MyDNS directories
    file:
      path: '{{ item }}'
      state: directory
      owner: '{{ mydns_user }}'
      group: '{{ mydns_group }}'
      mode: '0755'
    loop:
    - /etc/mydns
    - /var/lib/mydns
    - /var/log/mydns
    - /run/mydns
    tags:
    - config
  - name: Copy MyDNS configuration
    template:
      src: templates/mydns.conf.j2
      dest: /etc/mydns/mydns.conf
      owner: root
      group: '{{ mydns_group }}'
      mode: '0640'
    tags:
    - config
  - name: Install systemd service
    template:
      src: templates/mydns.service.j2
      dest: /lib/systemd/system/mydns.service
      owner: root
      group: root
      mode: '0644'
    tags:
    - service
  - name: Enable and start MyDNS service
    systemd:
      name: mydns
      state: started
      enabled: true
      daemon_reload: true
    tags:
    - service
