- name: Install GeoIP Sensor
  hosts: sensors
  become: true
  vars:
    sensor_dir: /opt/geosensor
    sensor_user: sensor
    sensor_api_port: 5000
  tasks:
  - name: Install Python dependencies
    apt:
      name:
      - python3
      - python3-pip
      - python3-flask
      state: present
    tags:
    - dependencies
  - name: Create sensor directory
    file:
      path: '{{ sensor_dir }}'
      state: directory
      owner: '{{ sensor_user }}'
      mode: '0755'
    tags:
    - install
  - name: Copy sensor scripts
    copy:
      src: /scripts/mydns-ng-master/contrib/geosensors/
      dest: '{{ sensor_dir }}/'
      owner: '{{ sensor_user }}'
      mode: '0755'
    tags:
    - install
  - name: Install systemd service
    template:
      src: templates/geosensor.service.j2
      dest: /lib/systemd/system/geosensor.service
      owner: root
      mode: '0644'
    tags:
    - service
  - name: Enable and start sensor service
    systemd:
      name: geosensor
      state: started
      enabled: true
      daemon_reload: true
    tags:
    - service
