- name: Install and Configure DNS Manager Web UI
  hosts: webui_servers
  become: true
  vars:
    webui_dir: /opt/dnsmanager
    webui_user: www-data
    webui_port: 4000
    client_port: 5173
    node_version: 20.x
  tasks:
  - name: Install Node.js and npm
    apt:
      name:
      - nodejs
      - npm
      - nginx
      state: present
    tags:
    - dependencies
  - name: Copy Web UI source
    synchronize:
      src: /scripts/mydns-ng-master/contrib/dnsmanager/
      dest: '{{ webui_dir }}/'
      delete: true
    tags:
    - deploy
  - name: Install server dependencies
    npm:
      path: '{{ webui_dir }}/server'
      state: present
    tags:
    - dependencies
  - name: Install client dependencies
    npm:
      path: '{{ webui_dir }}/client'
      state: present
    tags:
    - dependencies
  - name: Build client
    command: npm run build
    args:
      chdir: '{{ webui_dir }}/client'
    tags:
    - build
  - name: Build server
    command: npm run build
    args:
      chdir: '{{ webui_dir }}/server'
    tags:
    - build
  - name: Install PM2
    npm:
      name: pm2
      global: true
      state: present
    tags:
    - dependencies
  - name: Start Web UI with PM2
    command: pm2 start dist/index.js --name dnsmanager-api
    args:
      chdir: '{{ webui_dir }}/server'
    tags:
    - service
  - name: Save PM2 configuration
    command: pm2 save
    tags:
    - service
  - name: Configure nginx
    template:
      src: templates/nginx-webui.conf.j2
      dest: /etc/nginx/sites-available/dnsmanager
      owner: root
      group: root
      mode: '0644'
    tags:
    - nginx
  - name: Enable nginx site
    file:
      src: /etc/nginx/sites-available/dnsmanager
      dest: /etc/nginx/sites-enabled/dnsmanager
      state: link
    tags:
    - nginx
  - name: Restart nginx
    systemd:
      name: nginx
      state: restarted
    tags:
    - nginx
